{% extends 'home.html.twig' %}
{% block title %}Editer un user !
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Editer l'utilisateur</h1>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}

		{{ form_start(form) }}
		<div class="form-group">
			{{ form_label(form.email) }}
			{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.roles) }}
			{{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.password) }}
			{{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
		</div>
		<button type="submit" class="btn btn-primary">Mettre à jour</button>
		<a href="{{ path('list_article') }}" class="btn btn-secondary">Annuler</a>
		{{ form_end(form) }}
	</div>


{% endblock %}
